<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="margin: auto;margin-top: 80px;width: 230px;padding: 10px;height: 180px">

    <div style="float: bottom">
        <img src="../../static/img/404error.jpeg"/>
    </div>

</div>
<div style="margin: 0px;">
    <div style="padding:0px;margin: 0px;height: 100px">
        <div style = "text-align: center;font-size: 3em;font-weight: 900;color: black;
        padding: 5px;">
            404 NOT FOUND
        </div>
        <div style="text-align:center;font-size: 1em;font-weight: 400;color: black;padding: 10px;">
            Sorry, The link you followed probaly broken or the page has been removed.
        </div>

    </div>
</div>

</body>
</html>