<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div style="text-align: center;z-index: 2" th:fragment="adminHeader">
    <ul class="layui-nav" lay-filter="adminHeader">
        <li class="layui-nav-item">
            <i class="layui-icon layui-icon-read"></i>
            <a href="#;" style="display: inline">文章</a>
            <dl class="layui-nav-child">
                <dd><a href="/admin">所有文章</a></dd>
                <dd><a href="/admin/edit">写文章</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <i class="layui-icon layui-icon-note"></i>
            <a href="#" style="display: inline">分类</a>
            <dl class="layui-nav-child">
                <dd><a href="/admin/category">分类管理</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <i class="layui-icon layui-icon-user"></i>
            <a href="javascript:;" style="display: inline">用户</a>
            <dl class="layui-nav-child">
                <dd><a href="#">个人资料</a></dd>
                <dd><a href="#">注销</a></dd>
            </dl>
        </li>
    </ul>
</div>

</html>