<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>
<!--导航栏-->
<nav th:replace="common/header"></nav>

<!--中间部分-->
<div class="pd-huge">
    <div class="ui container">
        <!--About Us Module-->
        <div class="ui grid">
            <div class="eleven wide column" style="border-bottom: 2px solid grey; padding:0;">
                <h1>关于我们</h1>
            </div>
            <div class="eleven wide column" style="padding:0;">
                如果您也对这个个人博客感兴趣的话，欢迎联系我们。
                我们致力于您的工作效率，工作方式，以及个人展示。
                <br>
                商业合作，请联系：<a href="#">BusinessCooperation@163.com</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!--Staff Module-->
        <div class="ui grid">
            <div class="eleven wide column" style="border-bottom: 2px solid grey; padding:0px;">
                <h1>加入我们</h1>
            </div>
            <div class="eleven wide column" style="padding:0px;">
                目前团队人员：
                <br>
                <table class="ui celled table">
                    <thead>
                    <tr><th style="vertical-align:middle;padding-left:50px"><img style="height: 120px; width: 120px" src="http://img5.imgtn.bdimg.com/it/u=4094400000,3327666375&fm=26&gp=0.jpg"/></th>
                        <th style="vertical-align:middle;padding-left:50px"><img style="height: 120px; width: 120px" src="http://file02.16sucai.com/d/file/2014/0829/372edfeb74c3119b666237bd4af92be5.jpg"/></th>
                        <th style="vertical-align:middle;padding-left:50px"><img style="height: 120px; width: 120px" src="http://file02.16sucai.com/d/file/2015/0408/779334da99e40adb587d0ba715eca102.jpg"/></th>
                    </tr></thead>
                    <tr>
                        <td style="text-align: center">Li Xia</td>
                        <td style="text-align: center">Guo Guohuan</td>
                        <td style="text-align: center">Liao Yunyi</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">SWE1709204</td>
                        <td style="text-align: center">SWE1709115</td>
                        <td style="text-align: center">SWE1709227</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">Full Stack Engineer</td>
                        <td style="text-align: center">Product Manager</td>
                        <td style="text-align: center">Customer Service</td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!--Contact Us Module-->
        <div class="ui grid">
            <div class="eleven wide column" style="padding: 0px; border-bottom: 2px solid grey">
                <h1> 联系我们</h1>
            </div>
            <div class="eleven wide column" style="padding: 0px;">
                <img src="/img/giphy.gif" width="790"/>
            </div>
            <div class="eleven wide column" style="padding:10px; border-bottom: 2px solid grey;">
                <h1>找到我们</h1>
            </div>
            <!--Google Map Embed-->
            <div class="mapouter">
                <div class="gmap_canvas">
                    <br>
                    <iframe width="800" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Xiamen%20University%20Malaysia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                    <a href="https://www.bitgeeks.net"></a>
                </div>
                <style>.mapouter{position:relative;text-align:right;height:400px;width:780px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:780px;}
                </style>
            </div>
        </div>
</div>

</div>
<!--底部栏-->
<footer th:replace="common/footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script th:src="@{/js/header.js}"></script>
</body>
</html>