<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link href="/css/about.css" rel="stylesheet"/>
</head>
<body>
<!--导航栏-->
<nav th:replace="common/header"></nav>

<!--中间部分-->
<div class="pd-huge">
    <div class="ui container">
        <!--About Us Module-->
        <div class="ui grid">
            <div class="eleven wide column" style="padding:0;">
                <div style="width:100%; border-bottom: 2px solid grey">
                    <h1>关于我们</h1>
                </div>
                <div class="eleven wide column" style="padding:0;">
                <h4>如果您也对这个个人博客感兴趣的话，欢迎联系我们。
                我们致力于您的工作效率，工作方式，以及个人展示。</h4>
                <h4>商业合作，请联系：<a href="#">BusinessCooperation@163.com</a></h4>
                </div>
        <br>
        <br>
        <br>
        <!--Staff Module-->
            <div class="eleven wide column" style="border-bottom: 2px solid grey; padding:0px;">
                <h1>加入我们</h1>
            </div>
            <div class="eleven wide column" style="padding:0px;">
                <h4>目前团队人员：</h4>
                <br>
                <table class="ui celled table">
                    <thead>
                    <tr><th style="vertical-align:middle;padding-left:70px"><img style="height: 120px; width: 120px" src="http://img5.imgtn.bdimg.com/it/u=4094400000,3327666375&fm=26&gp=0.jpg"/></th>
                        <th style="vertical-align:middle;padding-left:70px"><img style="height: 120px; width: 120px" src="http://file02.16sucai.com/d/file/2014/0829/372edfeb74c3119b666237bd4af92be5.jpg"/></th>
                        <th style="vertical-align:middle;padding-left:70px"><img style="height: 120px; width: 120px" src="http://file02.16sucai.com/d/file/2015/0408/779334da99e40adb587d0ba715eca102.jpg"/></th>
                    </tr></thead>
                    <tr>
                        <td style="text-align: center">Li Xia</td>
                        <td style="text-align: center">Guo Guohuan</td>
                        <td style="text-align: center">Liao Yunyi</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">SWE1709204</td>
                        <td style="text-align: center">SWE1709115</td>
                        <td style="text-align: center">SWE1709227</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">全栈工程师</td>
                        <td style="text-align: center">产品经理</td>
                        <td style="text-align: center">客户服务</td>
                    </tr>
                </table>
            </div>

        <br>
        <!--Contact Us Module-->
            <div class="eleven wide column" style="padding: 0px; border-bottom: 2px solid grey">
                <h1> 联系我们</h1>
            </div>
            <div class="eleven wide column" style="padding: 0px;">
                <img src="/img/giphy.gif" width="790"/>
            </div>
            <div class="eleven wide column" style="padding:10px; border-bottom: 2px solid grey;">
                <h1>找到我们</h1>
            </div>
            <!--Google Map Embed-->
            <div class="mapouter">
                <div class="gmap_canvas">
                    <br>
                    <iframe width="800" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Xiamen%20University%20Malaysia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                    <a href="https://www.bitgeeks.net"></a>
                </div>
                <style>.mapouter{position:relative;text-align:right;height:400px;width:780px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:780px;}
                </style>
            </div>
        </div>
            <div class="five wide column">
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui grid">
                            <h2><i class="paper plane icon"></i>目前我们的合作伙伴有：</h2>
                        </div>
                    </div>
                    <div class="ui teal segment" style="font-weight:bold">
                        <a href="https://www.wechat.com/en/"><img style="height: 60px; width:60px" src="/img/wechat-png-wechat-png-512.png"/></a> 微信
                        <a href="https://www.tencent.com/"><img style="height: 50px;height: 50px" src="/img/QQ.png"/></a>  QQ
                        <a href="https://www.apple.com/safari/"><img style="height: 50px; height: 50px" src="/img/safari.png"/></a>Safari
                    </div>
                </div>
                <!--二维码-->
                <div class="ui horizontal divider header">扫码关注我</div>
                <div class="ui centered card" style="width: 11em">
                    <img alt="二维码" class="ui rounded image" th:src="@{/img/wechat.jpg}">
                </div>
                <!--图片轮播-->
                <div class="ui horizontal divider header">招商广告</div>
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <div class="numbertext">1 / 3</div>
                        <img src="https://d2wsh2n0xua73e.cloudfront.net/wp-content/uploads/2016/10/Apple-AAPL-Stock.jpg" style="width:100%">
                        <div class="text"></div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">2 / 3</div>
                        <img src="https://wallpaperaccess.com/full/755073.jpg" style="width:100%">
                        <div class="text"></div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">3 / 3</div>
                        <img src="https://media.idownloadblog.com/wp-content/uploads/2018/06/samsunglogo-1.jpg" style="width:100%">
                        <div class="text"></div>
                    </div>

                </div>
                <br>
                <div style="text-align:center">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                        var i;
                        var slides = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("dot");
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }
                        slideIndex++;
                        if (slideIndex > slides.length) {slideIndex = 1}
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                        }
                        slides[slideIndex-1].style.display = "block";
                        dots[slideIndex-1].className += " active";
                        setTimeout(showSlides, 2000); // Change image every 2 seconds
                    }
                </script>

            </div>
        </div>
    </div>
</div>
<!--底部栏-->
<footer th:replace="common/footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script th:src="@{/js/header.js}"></script>
</body>
</html>